.App {
  text-align: center;
}

AppBar {
  background-color: #032541;
}

.navbar{
  display: 'flex';
  text-align: center; 
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.textfield {
  background-color: #b39f9f;
  color: rgb(25, 24, 24);
  text-align: center;
}